In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df0=pd.read_csv('/content/drive/MyDrive/Data Management Project/Dataset/Industrial_and_Scientific.csv')

In [ ]:
df0.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,303,5,True,2018-01-21,A314RSJF963JYD,B0000223SK,EJ in Seattle,Love this stuff! Works on several tools and i...,Excellent!,1516492800,NaN,{'Size:': ' 1-Pack'},NaN
1,304,4,True,2018-01-13,AUL5LCV4TT73P,B0000223SK,TnT,As advertised,As advertised,1515801600,NaN,{'Size:': ' 1-Pack'},NaN
2,305,5,True,2018-01-07,A2IRX14SLTFW6L,B0000223SK,pattyk,"Great product. Works well. Thank you, Mike",Five Stars,1515283200,NaN,{'Size:': ' 1-Pack'},NaN
3,552,5,True,2018-04-11,A2HOVQIM12DEZM,B0000223UV,VFW 887,"Great Price, fast service",Five Stars,1523404800,NaN,{'Size:': ' 1 - Pack'},NaN
4,553,3,True,2018-04-05,A38U47FUMS5319,B0000223UV,Kenny Davis,Not As Strong As I Thought Would Be,Not As Strong As I Thought Would,1522886400,NaN,{'Size:': ' 1 - Pack'},NaN

In [ ]:
df0.dtypes

Unnamed: 0          int64
overall             int64
verified             bool
reviewTime         object
reviewerID         object
asin               object
reviewerName       object
reviewText         object
summary            object
unixReviewTime      int64
vote              float64
style              object
image              object
dtype: object

In [ ]:
df0.shape

(203801, 13)

In [ ]:
df = df0[df0.verified == True]
df = df[['overall', 'reviewText' ,'summary']]
df.shape

(197340, 3)

In [ ]:
df2 = df[df.overall <= 4]
df2 = df2.dropna()
# df2.isnull().sum()
df2.shape

(61495, 3)

In [ ]:
df3 = df[df.overall == 4]
df3.shape

(22610, 3)

In [ ]:
df4 = df[df.overall == 3]
df4.shape

(11623, 3)

In [ ]:
df5 = df[df.overall == 2]
df5.shape

(8501, 3)

In [ ]:
df6 = df[df.overall == 1]
df6.shape

(18817, 3)

In [ ]:
df7 = df[df.overall == 5]
df7 = df7.dropna()
df7.shape

(135578, 3)

In [ ]:
df8 = df7.head(df2.shape[0])
df8.shape

(61495, 3)

In [ ]:
df8.head()

,overall,reviewText,summary
0,5,Love this stuff! Works on several tools and i...,Excellent!
2,5,"Great product. Works well. Thank you, Mike",Five Stars
3,5,"Great Price, fast service",Five Stars
5,5,As described and more. Really works!,Really works as advertised
6,5,I bought 4 different super glues and they all ...,LIT AF!

In [ ]:
frames = [df2, df8]
result = pd.concat(frames)
result.shape

(122990, 3)

In [ ]:
result.head()

,overall,reviewText,summary
1,4,As advertised,As advertised
4,3,Not As Strong As I Thought Would Be,Not As Strong As I Thought Would
13,2,"Worthless, I have bought several times, think...",avoid the frustration of buying and wasting time
16,4,NICE.,Four Stars
19,3,Dark brown glue in a bottle with a squeeze tip...,The glue is a great product despite encouragin...

In [ ]:
result.tail()

,overall,reviewText,summary
93131,5,Perfect! So easy to change and fit perfectly! ...,As expected
93133,5,Works Great !,Five Stars
93135,5,thanks,Five Stars
93136,5,"Good quality fittings, true to measured size",good quality fittings.
93138,5,Does what you'd expect. Spring seems a little ...,Five Stars

In [ ]:
result = result.sample(frac = 1)
result.head()

,overall,reviewText,summary
68160,1,Nozzle sprays 2 times and then sputters & leaks,One Star
101927,1,"Scam, do not buy! they wrote the description ...","Scam, do not buy! they wrote the description ..."
36570,5,Great stuff!,Quality
48620,5,"Dude, it's not what you think it's for. That'...",Put stuff in them
13100,5,I lost my favorite scissors that I had for yea...,Love these!

In [ ]:
result.tail()

,overall,reviewText,summary
80889,1,They don't cut anything.,One Star
100087,4,Package arrived later than anticipated. No dam...,Nice table
67899,5,The adhesive is just right. I should have wen...,Five Stars
124424,1,This stuff was like water it did not stick .yo...,This stuff was like water it did not stick
41657,4,...and now the Xbox can connect to my non-hdmi...,Does what I need it to do...

In [ ]:
# df_final = result[['overall', 'reviewText' ,'summary']]
# df_final.shape

In [ ]:
# df_final.head()